.metals/metals.log
.bsp\sbt.json
/.bloop
.bloop/**
.vscode\settings.json
.metals/**
insurance/target/.history
insurance/target/scala-2.12/**
insurance/target/streams/**
insurance/project/target/**
.bsp/sbt.json
.vscode/settings.json
project/.bloop/**
project/project**
project/target/scala-2.12/**
project/target/streams**
target/scala-2.12/**
target/.history3
target/streams/**